@model IEnumerable<ShoesApp.Models.Category>

@{
    ViewData["Title"] = "Select Category";
}

<h1>SelectCategory</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imgPath)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                    <img src="@Url.Content(item.imgPath)" class="rounded-circle" width="60" height="60" />
            </td>
            <td>
                    @Html.ActionLink("Choose Category", "SelectProduct", "Products", new { id = item.id },new{ @class ="btn btn-primary"})
            </td>
        </tr>
}
    </tbody>
</table>
